version: "2"

services:

  portainer:
    image: portainer/portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./docker/portainer/data:/data
    ports:
      - 9000:9000
    networks:
      api:
        ipv4_address: 172.45.0.2

  nginx:
    image: library/nginx:1.11.0-alpine
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./docker/nginx/ssl:/etc/nginx/ssl:ro
      - ./docker/nginx/sites-available:/etc/nginx/sites-available:ro
      - ./volumes/nginx/log:/var/log/nginx
    ports:
      - 80:80
      - 443:443
    networks:
      api:
        ipv4_address: 172.45.0.3

  api:
    image: library/node:6-alpine
    working_dir: /code
    volumes:
      - .:/code
    environment:
      NODE_ENV: development
    command: "tail -F -n0 /etc/hosts"
    networks:
      api:
        ipv4_address: 172.45.0.33

  logstash:
    image: library/logstash:5.4.0-alpine
    command: -f /etc/logstash/conf.d/
    volumes:
      - ./docker/logstash/config:/etc/logstash/conf.d
    ports:
      - 5000:5000
    networks:
      api:
        ipv4_address: 172.45.0.4

  couchdb:
    image: library/couchdb:1.6
    environment:
      COUCHDB_USER: infra
      COUCHDB_PASSWORD: infra
    volumes:
      - ./docker/couchdb/default.d:/usr/local/etc/couchdb/default.d
      - ./volumes/couchdb:/usr/local/var/lib/couchdb
    ports:
      - 5984:5984
    networks:
      api:
        ipv4_address: 172.45.0.5

  postgres:
    image: library/postgres:9.5-alpine
    environment:
      POSTGRES_USER: infra
      POSTGRES_PASSWORD: infra
      POSTGRES_DB: infra
    volumes:
      - ./volumes/postgresql/data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      api:
        ipv4_address: 172.45.0.6

  rabbitmq:
    image: library/rabbitmq:3.6-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      api:
        ipv4_address: 172.45.0.7

networks:
  api:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.45.0.0/16
          gateway: 172.45.0.1
